* {
  margin: 0;
  padding: 0;
}

.content {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: large;
}

#content {
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 20px;
  font-weight: 400;
}

@media screen and (max-width: 789px) {
  #title {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: large;
  }

  #content {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-weight: 400;
  }
}
