* {
  margin: 0;
  padding: 0;
}

.gameboard {
  margin-top: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 789px) {
  .gameboard {
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
